.navbar {
  background: #A3FFD3;
}

#navbar {
  background: #A3FFD3;
}

body {
  max-height: 100vh;
  background: linear-gradient(180deg, rgba(200, 211, 255, 0) 36.98%, #C8D3FF 100%);
  background-attachment: fixed;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  max-height: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  color: white;
  overflow: scroll;
}

#page-content {
  padding-top: 5rem;
}

#app-col {
  padding: 0;
}

#menu-col {
  padding:0;
}

.left-hand-nav {
  
  background: #FFFFFF;
  position: absolute;
  min-height: 100%;
  left: 0px;
  top: 0px;
  padding-top: 1rem;

}

.card-body.expanded {
  width: 100%;
}

.nav-lists {
  list-style-type: none;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  justify-content: left;
}


.channel-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100%;
  top: 0px;
  background: #FFDEEA;
  left: 94px;
  text-align: center;
  overflow: scroll;
}

#channel-menu-art{
  width: 150px;
  height: 150px;
  border-radius: 50%;

}

#channel-menu-col {
  margin: 0;
}


.profile-menu {
  background: linear-gradient(180deg, #A881FD 0%, rgba(249, 182, 255, 0) 100%);
  width: 236px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#search-bar {
  border-radius: 30px;
}

#messages-icon {
  background: #A881FD;
  border: none;
  height: 4rem;
  width: 4rem;
  border-radius: 15px;

}

#events-icon {
  background: #A3FFD3;
  border: none;
  height: 4rem;
  width: 4rem;
  border-radius: 15px;

}

#community-icon {
  border-radius: 15px;
  height: 4rem;
  width: 4rem;
}

#add-community-icon {
  background: #FFDEEA;
  border-radius: 15px;
  border: none;
  height: 4rem;
  width: 4rem;
}

#channel-menu-avatar {
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem;
}

#profile-avatar {
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem;
}

#channel-nav {
  background: #E08BFF;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border: none;
  border-radius: 0;
}

#channel-container {
  height:  100%;
  position:fixed;
  left: 418px;
}

.landing-page-header {
  border-radius: 40px;
  height: 420px;
  object-fit: cover;
  

}

.landing-page-cards {
  background: linear-gradient(180deg, #908AFD 0%, rgba(138, 161, 253, 0) 100%);
}

#channel-nav-buttons {
  margin: 1rem;
  height: 2rem;
  border: none;
  background: #07B4FF;

}

.chat-space {
  border: #908AFD;
  border: 1px;
  position: absolute;
  bottom: 0;
  width: 55%;
  left: 375px;
  top: 38px;
  margin-top: 0;
  margin-left: 0;

}

#text-frame {
  background: #8AA1FD;
  justify-content: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
}

textarea {
  resize: none;
}

#text-area-style {
  
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: 20px;
  height: 2rem;
  resize: none;

}

#channel-info-card {
  font-size: small;
  margin-bottom: 1rem;
  margin-right: 0;
  color: black;
}

#accordion-text {
  font-size: small;
  text-align: left;
}

#chat-button {
  background:#3F65FF;
  border-radius: 20px;
  margin-top: .5rem;

}

#online-user-card {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: none;
  margin-top: 1rem;
  padding: 0;
  text-align: left;
  border-radius: 10px;
}

#online-user-avatar {
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem;
  width: 60px;
  height: 60px;
}

#online-users-div {
  height: 15rem;
  overflow: scroll;
}

#online-users-text {
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

#landing-page-scroll {
  height: 40rem;
  overflow: scroll;
}

#blog-page-scroll {
  height: 40rem;
  overflow: scroll;
}

#welcome-header{
  color: black;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}