.navbar {
  background: #A3FFD3;
}

#navbar {
  background: #A3FFD3;
}

.App-header {
  background: linear-gradient(180deg, rgba(200, 211, 255, 0) 36.98%, #C8D3FF 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  padding-right: 0;
  margin-left: 0;
  color: white;
}

#app-col {
  padding: 0;
}

#menu-col {
  padding:0;
}

.left-hand-nav {
  
  background: #FFFFFF;
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
  padding-top: 1rem;

}

.card-body.expanded {
  width: 100%;
}

.left-nav-list {
  list-style-type: none;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}

#left-nav-backgroud {
  background: #FFFFFF;
  margin-right: 0;
}

.channel-menu {
  position: absolute;
  width: 280px;
  height: 100vh;
  top: 0px;
  background: #FFDEEA;
}

#channel-menu-col {
  margin: 0;
}



.profile-menu {
  background: linear-gradient(180deg, #A881FD 0%, rgba(249, 182, 255, 0) 100%);
  width: 236px;
  height: 100vh;
  padding-left: 0;
}

#search-bar {
  border-radius: 30px;
}